<%= turbo_frame_tag :cookies_banner do %>
  <% if session[:cookies_accepted].nil? %>
    <section class="absolute right-2 bottom-2 z-10 bg-slate-500 p-2 break-words rounded-lg max-w-96 ">
      <div class="flex gap-2">
        <p class="text-white text-xs md:text-sm">We use cookies to improve your experience on our website. By clicking accept, or by continuing to use this website, you agree to our use of cookies.</p>
        <%= link_to 'Accept', cookies_banner_path(cookies_accepted: true), class: "border-slate-500 bg-secondary p-2 rounded-lg max-h-fit my-auto text-sm" %>
      </div>
    </section>
  <% end %>
<% end %>